# Mengaktifkan mesin "rewrite" pada server

RewriteEngine On

# Kondisi: Alihkan semua lalu lintas ke HTTPS (ini sudah ada sebelumnya, kita pertahankan)

RewriteCond %{HTTPS} off
RewriteRule ^(.\*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Kondisi: Jangan terapkan aturan di bawahnya jika permintaan adalah untuk file yang benar-benar ada

RewriteCond %{REQUEST_FILENAME} !-f

# Kondisi: Jangan terapkan aturan di bawahnya jika permintaan adalah untuk direktori yang benar-benar ada

RewriteCond %{REQUEST_FILENAME} !-d

# Aturan Utama: Alihkan semua permintaan lain ke index.php

RewriteRule . index.php [L]
